
/* --------------- LAYOUT --------------- */

* {
    box-sizing: border-box;
    padding: 0;
}

body {
    padding: 1em 2em;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
}

header div {
    width: 100%;
    text-align: right;
}

.sub-nav ul {
    justify-content: flex-end;
}

.sub-nav a:link, .sub-nav a:visited {
    color: black;
}

.logo {
    width: 400px;
}

/* MAIN */
main {
    max-width: 1050px;
    margin: 0 auto;
}

main nav {
    background-color: grey;
    border-radius: 10px;
    border-bottom: solid 5px #06b0dd;
    padding: 0.1em;
}

main nav a:visited, main nav a:link {
    color: white;
}

main nav ul {
    justify-content: center;
}

/* --------------- HEADINGS --------------- */

h1 {
    color: #06b0dd;
    text-align: center;
}

/* --------------- GENERAL --------------- */

nav ul {
    display: flex;
    gap: 1.5em;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    width: 100%;
    max-width: 500px;
}

figure {
    float: right;
    margin: 0 0 2em 2em;
}

img {
    width: 500px;
}







